@import "colors.css";

* {
  font-family: Palatino Linotype;
  font-size: 18px;
  font-weight: 600;
  min-height: 0px;
}

#waybar {
  background: rgba(149, 0, 194, 0);
  color: @text;
}

#left, #right, #custom-music{
  border-style: solid;
  border-width: 2.5px;
  border-color: @border;
  box-shadow: 2px 2px 2px 2px rgba(135, 28, 46, 0.5);
  padding-left: 13px;
  padding-right: 18px;
  background: @background;
  margin-top: 1px;
  margin-bottom: 0px
}

#left {
  border-left-style: solid;
  margin-left: 10px;
  margin-right: 20px;
  color: @text;
  border-radius: 50rem 1rem 50rem 1rem;
}

#right {
  background-color: @background;
  margin-right: 10px;
  color: @text;
  border-radius: 1rem 50rem 1rem 50rem;
  border-right-style: solid;
}

#workspaces button {
  color: @text;
  border-radius: 1rem;
  padding-right: 0.4rem;
  padding-left: 0.4rem;
}

#workspaces button.active {
  color: @text;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @text;
  border-radius: 1rem;
}

#pulseaudio {
  margin-right: 10px;
}

#custom-music {
  background-color: @background;
  color: @text;
  border-radius: 5rem 5rem 5rem 5rem;
}

#custom-power {
  margin-right: 20px;
}

#custom-pacman {
  margin-left: 5px;
  margin-right: 10px;
}